@(formUsuario: Form[model.Usuario])
@import model._
@import helper._

@main("Cadastrar Usuário") {
	@helper.form(routes.GerenciamentoUsuario.persistirUsuario) {
		@inputText(formUsuario("nome"), '_label -> "Nome")
		@inputText(formUsuario("cpf"), '_label -> "CPF")
		@inputText(formUsuario("rg"), '_label -> "RG")
		@inputText(formUsuario("percentualComissao"), '_label -> "% Comissão")
		@inputText(formUsuario("login"), '_label -> "Login")
		@inputPassword(formUsuario("senha"), '_label -> "Senha")
		<input type="submit" value="Salvar"/>
	}
}