@(formLogin: Form[controllers.GerenciamentoUsuario.Login])
@import model._
@import helper._
@import helper.twitterBootstrap._

@main("Autenticação de Usuário") {
	@if(formLogin.hasGlobalErrors) {
	    <p class="error container">
	        @formLogin.globalError.message
	    </p>
	}
	@helper.form(routes.GerenciamentoUsuario.efetuarLogin, 'class -> "form-inline container") {
		@inputText(formLogin("login"), '_label -> "Login")
		@inputPassword(formLogin("senha"), '_label -> "Senha")
		<input type="submit" value="Entrar"/>
	}
}