@(formCliente: Form[model.Cliente])
@import model._
@import helper._

@implicitField = @{ FieldConstructor(gefFieldConstructor.f) }

@main("Cadastrar Cliente") {
	@helper.form(routes.GerenciamentoCliente.persistirCliente, 'class -> "container well form-horizontal") {
		@inputText(formCliente("nome"), '_label -> "Nome", '_class -> "inline")
		@inputText(formCliente("cpf"), '_label -> "CPF")
		@inputText(formCliente("rg"), '_label -> "RG")
		
		<div class="help-inline">
		@select(formCliente("endereco.uf"), options(
			 scala.List("AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", 
			 "MA", "MG", "MS", "MT", "PA", "PB", "PR", "PE", "PI", 
			 "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "SP", "TO")),
			  '_label -> "UF")
		</div>			
		<div class="help-inline">
		@inputNumber(formCliente("endereco.cep"), '_label -> "CEP")
		</div>			
		<div class="help-inline">
		@inputText(formCliente("endereco.cidade"), '_label -> "Cidade")
		</div>
		@inputText(formCliente("endereco.logradouro"), '_label -> "Logradouro")
		@inputNumber(formCliente("endereco.numero"), '_label -> "No.")
	            <div class="controls">
		<input type="submit" value="Salvar"/>
		</div>
	}
}