@(formVenda: Form[controllers.GerenciamentoVenda.FormularioVenda], dto: controllers.GerenciamentoVenda.FormularioVenda)
@import model._
@import helper._

@implicitField = @{ FieldConstructor(gefFieldConstructor.f) }

@main("Criar Venda") {
	@if(formVenda.hasErrors) {
	    <p class="error container">
	        @formVenda.errors
	    </p>
	}
			
	
	@helper.form(routes.GerenciamentoVenda.adicionarItem, 'class -> "container well  form-horizontal", 'id -> "formularioVenda") {
		@inputText(formVenda("cpf"), '_label -> "CPF Cliente")
		<div class="help-inline">
			@inputText(formVenda("produto"), '_label -> "Produto", 'onblur -> "buscarProduto(this);")
		</div>			
		<div class="help-inline">
			@inputText(formVenda("nome"), '_label -> "Nome", 'readonly -> "true")
		</div>			
		<div class="help-inline">
			@inputNumber(formVenda("precoUnitario"), '_label -> "Preço Unitário")
		</div>			
		<div class="help-inline">
			@inputText(formVenda("quantidade"), '_label -> "Quantidade")
		</div>			
		<div class="help-inline">
			@inputText(formVenda("desconto"), '_label -> "Desconto")
		</div>			
		<div class="help-inline">
			@inputText(formVenda("precoTotal"), '_label -> "Preço Total")
		</div>			
		<div class="help-inline">
			<button onclick="adicionarItem();">Adicionar</button>
		</div>
		<div id="itens">
		 @views.html.venda.itens(dto.itens)
		</div>
		<input type="submit" value="Finalizar"/>	
	}
}