@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>        
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Application.javascriptRoutes()" type="text/javascript"></script>  
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>      
    </head>
    <body class="geral">
	    <header class="cabecalho">
	    	<img alt="GeF" src="@routes.Assets.at("images/logoGEF.png")" >
	    	@if(session.get("login")!=null) {
	    		<div class="help-inline">
	    			@session.get("nomeUsuario") &nbsp; &nbsp;&nbsp;
	    			<a href="@routes.GerenciamentoUsuario.logout()">Sair</a>
	    		</div>
		    	<div class="btn-toolbar">
		    		<div class="btn-group">
		    			<a class="btn" href="@routes.Application.index" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Início" src="@routes.Assets.at("images/inicio.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoCliente.index" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Clientes" src="@routes.Assets.at("images/clientes.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoFornecedor.index" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Fornecedores" src="@routes.Assets.at("images/fornecedores.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoEstoque.index">
		    				<img class="img-rounded" height="75px" width="75px" alt="Produtos" src="@routes.Assets.at("images/produtos.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoEstoque.index">
		    				<img class="img-rounded" height="75px" width="75px" alt="Medicamentos" src="@routes.Assets.at("images/medicamentos.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoVenda.formularioNovaVenda" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Venda" src="@routes.Assets.at("images/vendas.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoCompra.formularioNovaCompra" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Compra" src="@routes.Assets.at("images/compras.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoVenda.index" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Relatório de Vendas" src="@routes.Assets.at("images/relatorios.png")" >
		    			</a>
		    			<a class="btn" href="@routes.GerenciamentoUsuario.index" >
		    				<img class="img-rounded" height="75px" width="75px" alt="Usuarios" src="@routes.Assets.at("images/funcionarios.png")" >
		    			</a>
		    		</div>
		    	</div>
	    	}
	    </header>
        @content
    </body>
</html>
